@import '../vars';

// SearchDiv
.searchDiv {
  padding: 10px;
  align-items: baseline;
  font-size: 25px;
}

.locationInput {
  font-size: 28px;
  margin: 10px;
  border-bottom: 1px solid $white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}
