// Base reset
@import './vars';
@import './base';
@import './components/Location';
@import './components/SearchDiv';

// Main Body Components
#root {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 96.5vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $gold;
  padding-top: 2em;
}

.navbar {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 20px;
    font-weight: bolder;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  background-color: $light-green;
  flex-direction: row;
}

footer {
  color: $white;
  background-color: $brown;
}

// Buttons
.btn {
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  border: 2px solid $light-green;
  background-color: $green;
  color: $white;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: $mainBorderRadius;
  display: inline-block;
}

.btn:hover {
  background: $light-green;
  border: 2px solid $green;
  color: $brown;
}
